*.parquet filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.jsonl filter=lfs diff=lfs merge=lfs -text
shared_loras/**/*.safetensors filter=lfs diff=lfs merge=lfs -text
shared_loras/**/*.bin filter=lfs diff=lfs merge=lfs -text
shared_loras/**/*.pt filter=lfs diff=lfs merge=lfs -text
shared_loras/**/*.pth filter=lfs diff=lfs merge=lfs -text
*.eval filter=lfs diff=lfs merge=lfs -text
shared_traces/**/*.eval filter=lfs diff=lfs merge=lfs -text
shared_loras/**/*.json filter=lfs diff=lfs merge=lfs -text
shared_traces/**/*.json filter=lfs diff=lfs merge=lfs -text
